<div class="daily">
  <p class="days"><%=days[0]%></p>
  <canvas class="icon" id="daily1" icon="<%=weather.daily.data[0].icon%>" width="50px" height="50px"></canvas>
  <div>
    <p class="daily-high"><%=Math.round(weather.daily.data[0].temperatureMax)%>&#8457</p>
    <p class="daily-low"><%=Math.round(weather.daily.data[0].temperatureMin)%>&#8457</p>
  </div>
</div>
<div class="daily">
  <p class="days"><%=days[1]%></p>
  <canvas class="icon" id="daily2" icon="<%=weather.daily.data[1].icon%>" width="50px" height="50px"></canvas>
  <div>
    <p class="daily-high"><%=Math.round(weather.daily.data[1].temperatureMax)%>&#8457</p>
    <p class="daily-low"><%=Math.round(weather.daily.data[1].temperatureMin)%>&#8457</p>
  </div>
</div>
<div class="daily">
  <p class="days"><%=days[2]%></p>
  <canvas class="icon" id="daily3" icon="<%=weather.daily.data[2].icon%>" width="50px" height="50px"></canvas>
  <div>
    <p class="daily-high"><%=Math.round(weather.daily.data[2].temperatureMax)%>&#8457</p>
    <p class="daily-low"><%=Math.round(weather.daily.data[2].temperatureMin)%>&#8457</p>
  </div>
</div>
<div class="daily">
  <p class="days"><%=days[3]%></p>
  <canvas class="icon" id="daily4" icon="<%=weather.daily.data[3].icon%>" width="50px" height="50px"></canvas>
  <div>
    <p class="daily-high"><%=Math.round(weather.daily.data[3].temperatureMax)%>&#8457</p>
    <p class="daily-low"><%=Math.round(weather.daily.data[3].temperatureMin)%>&#8457</p>
  </div>
</div>
<div class="daily">
  <p class="days"><%=days[4]%></p>
  <canvas class="icon" id="daily5" icon="<%=weather.daily.data[4].icon%>" width="50px" height="50px"></canvas>
  <div>
    <p class="daily-high"><%=Math.round(weather.daily.data[4].temperatureMax)%>&#8457</p>
    <p class="daily-low"><%=Math.round(weather.daily.data[4].temperatureMin)%>&#8457</p>
  </div>
</div>
<div class="daily">
  <p class="days"><%=days[5]%></p>
  <canvas class="icon" id="daily6" icon="<%=weather.daily.data[5].icon%>" width="50px" height="50px"></canvas>
  <div>
    <p class="daily-high"><%=Math.round(weather.daily.data[5].temperatureMax)%>&#8457</p>
    <p class="daily-low"><%=Math.round(weather.daily.data[5].temperatureMin)%>&#8457</p>
  </div>
</div>
<div class="daily">
  <p class="days"><%=days[6]%></p>
  <canvas class="icon" id="daily7" icon="<%=weather.daily.data[6].icon%>" width="50px" height="50px"></canvas>
  <div>
    <p class="daily-high"><%=Math.round(weather.daily.data[6].temperatureMax)%>&#8457</p>
    <p class="daily-low"><%=Math.round(weather.daily.data[6].temperatureMin)%>&#8457</p>
  </div>
</div>
