<div class="daily">
  <p><%=days[0]%></p>
  <canvas class="icon" id="daily1" icon="<%=weather.daily.data[0].icon%>"></canvas>
  <p><%=weather.daily.data[0].temperatureMin%></p>
  <p><%=weather.daily.data[0].temperatureMax%></p>
</div>
<div class="daily">
  <p><%=days[1]%></p>
  <canvas class="icon" id="daily2" icon="<%=weather.daily.data[1].icon%>"></canvas>
  <p><%=weather.daily.data[1].temperatureMin%></p>
  <p><%=weather.daily.data[1].temperatureMax%></p>

</div>
<div class="daily">
  <p><%=days[2]%></p>
  <canvas class="icon" id="daily3" icon="<%=weather.daily.data[2].icon%>"></canvas>
  <p><%=weather.daily.data[2].temperatureMin%></p>
  <p><%=weather.daily.data[2].temperatureMax%></p>

</div>
<div class="daily">
  <p><%=days[3]%></p>
  <canvas class="icon" id="daily4" icon="<%=weather.daily.data[3].icon%>"></canvas>
  <p><%=weather.daily.data[3].temperatureMin%></p>
  <p><%=weather.daily.data[3].temperatureMax%></p>
</div>
<div class="daily">
  <p><%=days[4]%></p>
  <canvas class="icon" id="daily5" icon="<%=weather.daily.data[4].icon%>"></canvas>
  <p><%=weather.daily.data[4].temperatureMin%></p>
  <p><%=weather.daily.data[4].temperatureMax%></p>
</div>
<div class="daily">
  <p><%=days[5]%></p>
  <canvas class="icon" id="daily6" icon="<%=weather.daily.data[5].icon%>"></canvas>
  <p><%=weather.daily.data[5].temperatureMin%></p>
  <p><%=weather.daily.data[5].temperatureMax%></p>
</div>
<div class="daily">
  <p><%=days[6]%></p>
  <canvas class="icon" id="daily7" icon="<%=weather.daily.data[6].icon%>"></canvas>
  <p><%=weather.daily.data[6].temperatureMin%></p>
  <p><%=weather.daily.data[6].temperatureMax%></p>
</div>
