<h3><%=location%></h3>
<canvas class="icon" id="main-icon" icon="<%=weather.currently.icon%>" width="128" height="128"></canvas>
<p><%=weather.currently.temperature%></p>
<p>Feels like: <%=weather.currently.apparentTemperature%></p>
<% if (weather.minutely != undefined) { %>
<p><%=weather.minutely.summary%></p>
<% } %>
<p><%=weather.hourly.summary%></p>
<p>Humidity: <%=weather.currently.humidity%></p>
<p>Wind: <%=weather.currently.windSpeed%></p>
<p>Visibility: <%=weather.currently.visibility%></p>


<div class="hourly">
  <canvas class="icon" id="hourly1" icon="<%=weather.hourly.data[0].icon%>"></canvas>
  <p><%=weather.hourly.data[0].temperature%></p>
  <p><%=hours[0]%></p>
</div>
<div class="hourly">
  <canvas class="icon" id="hourly2" icon="<%=weather.hourly.data[1].icon%>"></canvas>
  <p><%=weather.hourly.data[1].temperature%></p>
  <p><%=hours[1]%></p>
</div>
<div class="hourly">
  <canvas class="icon" id="hourly3" icon="<%=weather.hourly.data[2].icon%>"></canvas>
  <p><%=weather.hourly.data[2].temperature%></p>
  <p><%=hours[2]%></p>
</div>
<div class="hourly">
  <canvas class="icon" id="hourly4" icon="<%=weather.hourly.data[3].icon%>"></canvas>
  <p><%=weather.hourly.data[3].temperature%></p>
  <p><%=hours[3]%></p>
</div>
<div class="hourly">
  <canvas class="icon" id="hourly5" icon="<%=weather.hourly.data[4].icon%>"></canvas>
  <p><%=weather.hourly.data[4].temperature%></p>
  <p><%=hours[4]%></p>
</div>
<div class="hourly">
  <canvas class="icon" id="hourly6" icon="<%=weather.hourly.data[5].icon%>"></canvas>
  <p><%=weather.hourly.data[5].temperature%></p>
  <p><%=hours[5]%></p>
</div>
<div class="hourly">
  <canvas class="icon" id="hourly7" icon="<%=weather.hourly.data[6].icon%>"></canvas>
  <p><%=weather.hourly.data[6].temperature%></p>
  <p><%=hours[6]%></p>
</div>
<div class="hourly">
  <canvas class="icon" id="hourly8" icon="<%=weather.hourly.data[7].icon%>"></canvas>
  <p><%=weather.hourly.data[7].temperature%></p>
  <p><%=hours[7]%></p>
</div>
