<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div class="header">
      <h1 class="logo"><a href='/'><%= title %></a></h1>
      <form id="header-form" method="post" action="<%="/users/" + user.id %>">
        <input class="input" type="text" name="location" placeholder="location">
        <input class="submit" type="submit" value="Get Weather">
      </form>
      <div class="right-header">
        <p class="hello"><%='Hello, ' + user.name%></p>
        <a class="submit" href="/auth/logout" src="login">Log Out</a>
      </div>
    </div>
  <div class="body-container">
    <div class="box1">
      <% include ./partials/daily-box %>
    </div>
    <div class="box2">
      <% include ./partials/main_box %>
    </div>
    <div class="box3">
      <%secondaries.forEach(function(secondary) { %>
        <a class="location-right" href="<%="/users/" + user.id + '/location/' + secondary%>" src="<%=secondary%>"><%=secondary%></a>
      <% }) %>
    </div>
  </div>
    <% include ./partials/scripts %>
  </body>
</html>
